/* PERSONALIZAÇÕES GERAIS */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html.sr .load-hidden {
    visibility: hidden;
}

html {
    /* font-family: 'Source Code Pro', monospace; */
    font-family: "Poppins", system-ui;
}

body {
    background: radial-gradient(circle, rgba(23, 1, 41, 1) 0%, rgba(13, 0, 22, 1) 100%);
    background-size: cover;
    background-position: top center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

section {
    margin: 0 auto;
    max-width: 95%;
    padding: 0 5px;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
span::selection,
a::selection {
    background: rgba(110, 0, 201, 0.2);
}

.lord-icon {
    width: 35px;
    height: 35px;
}

.underline-anime {
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    position: relative;
}

.underline-anime::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(45, 1, 75, 0.5) 0%, rgba(110, 12, 175, 1) 56%);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.45s ease-out;
}

.underline-anime:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* CABEÇALHO E DEPENDÊNCIAS */

header {
    background: rgba(17, 17, 17, 0.13);
    font-weight: lighter;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 0.5rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: lighter;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-family: "Poppins", system-ui;
}

.logo .span_highlight {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(rgb(116, 0, 161), rgb(75, 0, 129));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ubuntu_font {
    font-family: 'Ubuntu', sans-serif!important;
    font-weight: 400;
}

.linux_intro {
    color: #9057cc !important;
}

.linux_intro_white {
    color: #bec0c6 !important;
}

.linux_intro_lpurple {
    color: #b650f5 !important;
}

#command {
    margin-left: 0.8rem;
}

/* CONTEÚDO PRINCIPAL */
.bio h2 {
    font-size: 2rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-family: "Poppins", system-ui;
}

.bio #nome {
    font-size: 6rem;
    font-family: "Poppins", system-ui;
}

.bio span {
    background: -webkit-linear-gradient(rgb(116, 0, 161), rgb(75, 0, 129));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    align-items: center;
}

.bio p {
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    align-items: center;
    font-family: "Poppins", system-ui;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

section .logo_icon {
    width: 25vw;
    margin-left: 10vw;
    transform: scaleX(-1);
    -webkit-filter: drop-shadow(0 0 100px rgba(59, 3, 97, 0.5));
    filter: drop-shadow(10px 0 100px rgba(61, 2, 100, 0.5));
}

#biosec,
#tec,
#projetos {
    height: 80svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.grid-container {
    margin-left: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    padding: 0.5rem;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(9, 0, 12, 0.8);
    padding: 1.5rem;
    color: #fff;
    text-align: center;
    width: 180px;
    height: 180px;
    font-size: 5rem;
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
    cursor: pointer;
}

#tec {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    align-items: center;
}

#tec h2 {
    font-size: 3rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-align: center;
}


#tec .cards {
    transition: 0.5s ease-in-out;
}

#tec .cards:hover {
    text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 10px #8000ff, 0 0 10px #8800ff, 0 0 0px #9000ff, 0 0 30px #8800ff, 0 0 60px #a600ff;
    transform: scale(2.1);
    transition: 1s ease-in-out;
}


#tec span {
    background: -webkit-linear-gradient(rgb(116, 0, 161), rgb(75, 0, 129));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    align-items: center;
    font-size: 3.5rem;
}

.info-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* align you to te top of div */
#prof-name {
    font-size: 3rem;
    font-weight: 400;
    color: rgb(213, 130, 255);
}

#projetos {
    margin: 4rem auto;
}

#projetos h2 {
    font-size: 3rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
    text-align: center;
}

#projetos span {
    background: -webkit-linear-gradient(rgb(116, 0, 161), rgb(75, 0, 129));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    align-items: center;
    font-size: 3.5rem;
}

.projeto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0.5rem;
}

.projeto {
    background: rgba(9, 0, 12, 0.8);
    padding: 1.5rem;
    color: #fff;
    text-align: left;
    grid-area: auto;
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
}

.border-anime {
    border: 1px solid transparent;
    transition: 1s;
}

.border-active {
    border: 1px solid rgb(58, 1, 150);
}

.border-anime:hover {
    border: 1px solid rgb(110, 12, 175);
    transition: 1s;
}

.type {
    font-size: 1rem;
    font-weight: 200;
    color: rgb(210, 71, 252);
    align-items: center;
}

.type i {
    font-size: 1.2rem;
}

.projeto h3 {
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

.projeto-descricao {
    font-size: 0.9rem;
    font-weight: 200;
    text-align: justify;
    text-align-last: left;
}

#descricao {
    text-align: justify;
    text-align-last: left;
    max-height: 25vh;
}

.projeto a {
    color: rgb(213, 130, 255);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 200;
    transition: 0.2s;
}

.projeto a:hover {
    text-decoration: none;
    color: rgb(216, 144, 252);
}

.menu {
    position: fixed;
    bottom: 0px;
    right: 25px;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(144, 19, 254, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: rgba(255, 255, 255, 1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: 0.4s;
}

.menu .toggle.active {
    transform: rotate(136deg);
    box-shadow: 0 0 0 35px rgba(144, 19, 254, 0.25), 0 0 0 35px rgba(144, 19, 254, 0.1);
    background: transparent;
    color: #fff;
}

.menu li {
    position: absolute;
    list-style: none;
    left: 25px;
    transform: rotate(calc(360deg / 5 * var(--i)));
    transform-origin: 55px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 10;
}

.menu.active li {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.menu li a {
    text-decoration: none;
    color: rgb(228, 195, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 1.3em;
    transform: rotate(calc(360deg / -5 * var(--i)));
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 30px rgb(255, 0, 247);
    transition: 0.3s ease-in-out;
}

/* Responsividade */

@media screen and (max-width: 1450px) {
    #nome {
        font-size: 4rem;
    }
}

@media screen and (max-width: 980px) {
    #nome {
        font-size: 4rem;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .projeto-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    section .logo_icon {
        width: 35vw;
    }
}

@media screen and (max-width: 768px) {
    .bio h2 {
        display: block;
        margin: 0 auto;
    }

    .bio {
        align-items: center;
    }

    .bio p {
        font-size: 1.2rem;
        text-align: center;
    }

    .bio #nome {
        font-size: 3rem;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-item {
        width: 150px;
        height: 150px;
        font-size: 4rem;
    }

    .info-container {
        width: 100%;
    }

    .projeto-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #projetos {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 528px) {
    .logo h1 {
        font-size: 1.5rem;
    }

    #biosec {
        height: 80vh;
    }
    .info-container{
        padding: 0 1rem;

    }
        #biosec,
        #tec,
        #projetos {
            height: 100svh;
        }
    
    #tec,
    #projetos {
        height: 100%;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .bio #nome {
        font-size: 2.5rem;
    }

    .bio p {
        font-size: 1.1rem;
    }

    .bio h2 {
        font-size: 1rem;
    }

    .bio #nome,
    .bio span {
        text-align: center;
    }

    #tec {
        margin-top: 5rem;
    }

    #tec h2 {
        font-size: 2rem;
    }

    #tec span {
        font-size: 2.5rem;
    }

    #descricao {
        text-align: justify;
        text-align-last: center;
        padding: 1rem;
    }

    #prof-name {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    /* #projetos {
        margin: 10rem auto 7rem auto;
    } */
}
